# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
clusterName: automaton
endpoint: "https://10.0.0.15:6443"

# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.11.3

# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.34.1

additionalApiServerCertSans: &san
  - 10.0.0.15
  - automaton.mgmt.h.mirceanton.com
additionalMachineCertSans: *san

allowSchedulingOnControlPlanes: true
cniConfig:
  name: flannel

nodes:
  - hostname: automaton
    ipAddress: 10.0.0.15
    controlPlane: true
    installDisk: /dev/nvme0n1

    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "70:85:c2:58:8d:31"
        dhcp: true
      - deviceSelector:
          hardwareAddr: "24:2f:d0:7f:fa:1f"
        dhcp: true

    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/i915
            - siderolabs/intel-ucode

    patches:
      - |- # Extra disks
        machine:
          disks:
            - device: /dev/nvme1n1
              partitions:
                - mountpoint: /var/mnt/data
          kubelet:
            extraMounts:
              - destination: /var/mnt/data
                type: bind
                source: /var/mnt/data
                options: [rbind, rshared, rw]

patches:
  # Disable cluster discovery. Not needed for single-node clusters;
  - |-
    cluster:
      discovery:
        enabled: false

  # Increase maxPods and disable serializeImagePulls
  - |-
    machine:
      kubelet:
        extraConfig:
          maxPods: 200
          serializeImagePulls: false

  # Disable default API server admission plugins.
  - |-
    cluster:
      apiServer:
        admissionControl:
          $$patch: delete

  # # Configure container registry mirrors
  - |-
    machine:
      registries:
        mirrors:
          docker.io:
            skipFallback: true
            endpoints: ["https://registry.nas.mgmt.h.mirceanton.com/docker.io"]
            overridePath: true
          registry-1.docker.io:
            skipFallback: true
            endpoints: ["https://registry.nas.mgmt.h.mirceanton.com/docker.io"]
            overridePath: true
          ghcr.io:
            skipFallback: true
            endpoints: ["https://registry.nas.mgmt.h.mirceanton.com/ghcr.io"]
            overridePath: true
          gcr.io:
            skipFallback: true
            endpoints: ["https://registry.nas.mgmt.h.mirceanton.com/gcr.io"]
          quay.io:
            skipFallback: true
            endpoints: ["https://registry.nas.mgmt.h.mirceanton.com/quay.io"]
          registry.k8s.io:
            skipFallback: true
            endpoints: ["https://registry.nas.mgmt.h.mirceanton.com/k8s.io"]

  # Use images from internal registry
  - |-
    machine:
      kubelet:
        image: registry.nas.mgmt.h.mirceanton.com/ghcr.io/siderolabs/kubelet:v1.34.1
    cluster:
      apiServer:
        image: registry.nas.mgmt.h.mirceanton.com/registry.k8s.io/kube-apiserver:v1.34.1
      controllerManager:
        image: registry.nas.mgmt.h.mirceanton.com/registry.k8s.io/kube-controller-manager:v1.34.1
      scheduler:
        image: registry.nas.mgmt.h.mirceanton.com/registry.k8s.io/kube-scheduler:v1.34.1
      etcd:
        image: registry.nas.mgmt.h.mirceanton.com/gcr.io/etcd-development/etcd:v3.6.5
      proxy:
        image: registry.nas.mgmt.h.mirceanton.com/registry.k8s.io/kube-proxy:v1.34.1
      coreDNS:
        image: registry.nas.mgmt.h.mirceanton.com/registry.k8s.io/coredns/coredns:v1.12.4
