---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Label Sync
permissions:
  contents: read
  issues: write

on:
  workflow_dispatch: {}
  schedule: [{cron: 0 0 * * *}]
  push:
    branches: [main]
    paths: [.github/labels.yaml]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
          sparse-checkout: .github/labels.yaml

      - name: Sync Labels
        uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a # v2.3.3
        with:
          config-file: .github/labels.yaml
          delete-other-labels: true
